
/* 960 16 Columns Grid */.container_12, .container_16 {
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16 {
    display: inline;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}
.container_12 .grid_3, .container_16 .grid_4 {
    width: 23%;
}
.container_12 .grid_6, .container_16 .grid_8 {
    width: 48%;
}
.container_12 .grid_9, .container_16 .grid_12 {
    width: 73%;
}
.container_12 .grid_12, .container_16 .grid_16 {
    width: 98%;
}
.alpha {
    margin-left: 0;
}
.omega {
    margin-right: 0;
}
.container_12 .grid_1 {
    width: 6.333%;
}
.container_12 .grid_2 {
    width: 14.666%;
}
.container_12 .grid_4 {
    width: 31.333%;
}
.container_12 .grid_5 {
    width: 39.666%;
}
.container_12 .grid_7 {
    width: 56.333%;
}
.container_12 .grid_8 {
    width: 64.666%;
}
.container_12 .grid_10 {
    width: 81.333%;
}
.container_12 .grid_11 {
    width: 89.666%;
}
.container_16 .grid_1 {
    width: 4.25%;
}
.container_16 .grid_2 {
    width: 10.5%;
}
.container_16 .grid_3 {
    width: 16.75%;
}
.container_16 .grid_5 {
    width: 29.25%;
}
.container_16 .grid_6 {
    width: 35.5%;
}
.container_16 .grid_7 {
    width: 41.75%;
}
.container_16 .grid_9 {
    width: 54.25%;
}
.container_16 .grid_10 {
    width: 60.5%;
}
.container_16 .grid_11 {
    width: 66.75%;
}
.container_16 .grid_13 {
    width: 79.25%;
}
.container_16 .grid_14 {
    width: 85.5%;
}
.container_16 .grid_15 {
    width: 91.75%;
}
.container_12 .prefix_3, .container_16 .prefix_4 {
    padding-left: 25%;
}
.container_12 .prefix_6, .container_16 .prefix_8 {
    padding-left: 50%;
}
.container_12 .prefix_9, .container_16 .prefix_12 {
    padding-left: 75%;
}
.container_12 .prefix_1 {
    padding-left: 8.333%;
}
.container_12 .prefix_2 {
    padding-left: 16.666%;
}
.container_12 .prefix_4 {
    padding-left: 33.333%;
}
.container_12 .prefix_5 {
    padding-left: 41.666%;
}
.container_12 .prefix_7 {
    padding-left: 58.333%;
}
.container_12 .prefix_8 {
    padding-left: 66.666%;
}
.container_12 .prefix_10 {
    padding-left: 83.333%;
}
.container_12 .prefix_11 {
    padding-left: 91.666%;
}
.container_16 .prefix_1 {
    padding-left: 6.25%;
}
.container_16 .prefix_2 {
    padding-left: 12.5%;
}
.container_16 .prefix_3 {
    padding-left: 18.75%;
}
.container_16 .prefix_5 {
    padding-left: 31.25%;
}
.container_16 .prefix_6 {
    padding-left: 37.5%;
}
.container_16 .prefix_7 {
    padding-left: 43.75%;
}
.container_16 .prefix_9 {
    padding-left: 56.25%;
}
.container_16 .prefix_10 {
    padding-left: 62.5%;
}
.container_16 .prefix_11 {
    padding-left: 68.75%;
}
.container_16 .prefix_13 {
    padding-left: 81.25%;
}
.container_16 .prefix_14 {
    padding-left: 87.5%;
}
.container_16 .prefix_15 {
    padding-left: 93.75%;
}
.container_12 .suffix_3, .container_16 .suffix_4 {
    padding-right: 25%;
}
.container_12 .suffix_6, .container_16 .suffix_8 {
    padding-right: 50%;
}
.container_12 .suffix_9, .container_16 .suffix_12 {
    padding-right: 75%;
}
.container_12 .suffix_1 {
    padding-right: 8.333%;
}
.container_12 .suffix_2 {
    padding-right: 16.666%;
}
.container_12 .suffix_4 {
    padding-right: 33.333%;
}
.container_12 .suffix_5 {
    padding-right: 41.666%;
}
.container_12 .suffix_7 {
    padding-right: 58.333%;
}
.container_12 .suffix_8 {
    padding-right: 66.666%;
}
.container_12 .suffix_10 {
    padding-right: 83.333%;
}
.container_12 .suffix_11 {
    padding-right: 91.666%;
}
.container_16 .suffix_1 {
    padding-right: 6.25%;
}
.container_16 .suffix_2 {
    padding-right: 16.5%;
}
.container_16 .suffix_3 {
    padding-right: 18.75%;
}
.container_16 .suffix_5 {
    padding-right: 31.25%;
}
.container_16 .suffix_6 {
    padding-right: 37.5%;
}
.container_16 .suffix_7 {
    padding-right: 43.75%;
}
.container_16 .suffix_9 {
    padding-right: 56.25%;
}
.container_16 .suffix_10 {
    padding-right: 62.5%;
}
.container_16 .suffix_11 {
    padding-right: 68.75%;
}
.container_16 .suffix_13 {
    padding-right: 81.25%;
}
.container_16 .suffix_14 {
    padding-right: 87.5%;
}
.container_16 .suffix_15 {
    padding-right: 93.75%;
}
html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    clear: both;
    display: block;
    float: none;
    font-size: 0;
    height: 0;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    visibility: hidden;
    width: 0;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

p.grid_16 {
	font-size:12px !important;
	margin:10px 20px 0 20px;
}

#gridExamples {
	width:640px;
}

#gridExamples div {   
 -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;

    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 10px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
	font-size:11px;
}
#gridExamples p {
	font-size:11px;
	margin-bottom:-4px;
}
.clean {
	background:none !important;
	padding:0 !important;
	border:none !important;
	text-align:left !important;
	box-shadow:none !important;
	margin:0 !important;
}
.clean {
	width:560px !important;
	margin-left:25px !important;
	margin-top:20px !important;
}

.holder {
	width:290px !important;
	cursor:pointer;
background: #f8f8f8;
background: -moz-linear-gradient(top,  #f8f8f8 0%, #eeeeee 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#eeeeee));
background: -webkit-linear-gradient(top,  #f8f8f8 0%,#eeeeee 100%);
background: -o-linear-gradient(top,  #f8f8f8 0%,#eeeeee 100%);
background: -ms-linear-gradient(top,  #f8f8f8 0%,#eeeeee 100%);
background: linear-gradient(top,  #f8f8f8 0%,#eeeeee 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#eeeeee',GradientType=0 );
    border-color: #DEDEDE #D8D8D8 #D3D3D3;
    box-shadow: 0 1px 1px #EAEAEA, 0 1px 0 #FBFBFB inset;
}
.holder div:not(.grid_1) {
	margin-bottom:0 !important;
	background: #abe4f8;
background: -moz-linear-gradient(top,  #abe4f8 0%, #6fcef3 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abe4f8), color-stop(100%,#6fcef3));
background: -webkit-linear-gradient(top,  #abe4f8 0%,#6fcef3 100%);
background: -o-linear-gradient(top,  #abe4f8 0%,#6fcef3 100%);
background: -ms-linear-gradient(top,  #abe4f8 0%,#6fcef3 100%);
background: linear-gradient(top,  #abe4f8 0%,#6fcef3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abe4f8', endColorstr='#6fcef3',GradientType=0 );

    border-color: #8DC5DA #76B7CF #63ABC7 ;
    box-shadow: 0 1px 1px #D6D6D6, 0 1px 0 #C0EBFA inset ;
    color: #42788E;
	font-weight:700;
    text-shadow: 0 1px 0 #B6E6F9 ;
}
.holder:hover {
	background:none;
    border-color: #C7C7C7 #C3C3C3 #BEBEBE ;
    box-shadow: 0 1px 1px #EBEBEB, 0 1px 0 #F3F3F3 inset ;
    text-shadow: 0 1px 0 #FDFDFD ;
}
.holder:hover div {   
	background: #6fcef3;
background: -moz-linear-gradient(top,  #6fcef3 0%, #abe4f8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6fcef3), color-stop(100%,#abe4f8));
background: -webkit-linear-gradient(top,  #6fcef3 0%,#abe4f8 100%);
background: -o-linear-gradient(top,  #6fcef3 0%,#abe4f8 100%);
background: -ms-linear-gradient(top,  #6fcef3 0%,#abe4f8 100%);
background: linear-gradient(top,  #6fcef3 0%,#abe4f8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fcef3', endColorstr='#abe4f8',GradientType=0 ); 
}

.margin {
	margin-bottom:0 !important;background: #cae285;
background: -moz-linear-gradient(top,  #cae285 0%, #9fcb57 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cae285), color-stop(100%,#9fcb57));
background: -webkit-linear-gradient(top,  #cae285 0%,#9fcb57 100%);
background: -o-linear-gradient(top,  #cae285 0%,#9fcb57 100%);
background: -ms-linear-gradient(top,  #cae285 0%,#9fcb57 100%);
background: linear-gradient(top,  #cae285 0%,#9fcb57 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cae285', endColorstr='#9fcb57',GradientType=0 );

    border-color: #ADC671 #98B65B #87AA4A ;
    box-shadow: 0 1px 1px #D3D3D3, 0 1px 0 #D7E9A4 inset ;
    color: #5D7731 ;
    text-shadow: 0 1px 0 #CFE5A4;
	display:none;
}

.holder:hover .margin {
background: #9fcb57;
background: -moz-linear-gradient(top,  #9fcb57 0%, #cae285 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9fcb57), color-stop(100%,#cae285));
background: -webkit-linear-gradient(top,  #9fcb57 0%,#cae285 100%);
background: -o-linear-gradient(top,  #9fcb57 0%,#cae285 100%);
background: -ms-linear-gradient(top,  #9fcb57 0%,#cae285 100%);
background: linear-gradient(top,  #9fcb57 0%,#cae285 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fcb57', endColorstr='#cae285',GradientType=0 );

}

.mceMiddle iframe {
	overflow:hidden !important;
}

.extra label {
	padding-bottom:3px;
}
.extra {
	margin-bottom:0 !important;
}

.selectedCol {
	background:#FFF !important;
}
.selectedCol div {
    background: none repeat scroll 0 0 #666666 !important;
    border: 1px solid transparent !important;
    box-shadow: none !important;
    color: #FFFFFF !important;
    text-shadow: none !important;
}

.margin1 {
	margin-bottom:7px !important;
}
.margin2 {
	margin-top:-2px;
}

.helps {    
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 10px;
	border-radius:3px;
	line-height:1.7em;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.panels > div {
	background: none repeat scroll 0 0 #FFFFFF !important;
    border: 1px solid #DDDDDD !important;
    padding: 10px !important;
	border-radius:3px;
	line-height:1.7em;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	position:relative;
	margin-bottom:30px;
	padding-top:20px !important;
	margin-top:20px;
	display:none;
}
.panels > div.first {
	display:block;
}
.panels > div > p {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    font-style: italic;
    padding: 0 15px;
    position: absolute;
    top: -23px;
}

.field {
	margin-bottom:7px;
	background:#FAFAFA;
	border-radius:3px;
	padding:5px;
}

.field:nth-child(odd){
	background:#F3F3F3;
}
.field label {
	margin-right:10px;
	float:left;
	width:120px;
	padding-top:5px;
	margin-left:15px;
}
.field select, .field input, .field textarea, #rbShortcodeType {
	width:275px;
}
.large label {
	width:100%;
}

.indented {
    display: block;
    margin-top: -20px;
    padding-left: 135px;
}
.button {
	width:80px !important;
}
input[type="checkbox"] {
	width:0;
	margin-top:8px;
}
.hidden {
	display:none;
}
.enclosed {    background: none repeat scroll 0 0 #FEFEFE;
    border: 1px solid #F1F1F1;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 20px;
    padding: 10px;
	position:relative;
}
.mark {    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    padding: 3px 5px;
}
.removePanel {    
	background: url(ico-delete.png) no-repeat scroll left top transparent;
    display: block;
    height: 16px;
    position: absolute;
    right: -9px;
    text-indent: -9999px;
    top: -7px;
    width: 16px;
}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
*{padding: 0; margin: 0;}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
  font: 12px Arial, Helvetica, sans-serif;
  color: #333333;
}
#TB_secondLine {
  font: 10px Arial, Helvetica, sans-serif;
  color:#666666;
}
#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}
/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}
.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {
  background-color:#000;
  filter:alpha(opacity=75);
  -moz-opacity: 0.75;
  opacity: 0.75;
}
* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_window {
  position: fixed;
  background: #ffffff;
  z-index: 102;
  color:#000000;
  display:none;
  border: 4px solid #525252;
  text-align:left;
  top:50%;
  left:50%;
  margin-left:-340px !important;
  margin-top:-300px !important;
  height:670px !important;
  width:670px !important;
}
* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_window img#TB_Image {
  display:block;
  margin: 15px 0 0 15px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
}
#TB_caption{
  height:25px;
  padding:7px 30px 10px 25px;
  float:left;
}
#TB_closeWindow{
  height:25px;
  padding:11px 25px 10px 0;
  float:right;
}
#TB_closeAjaxWindow{
  padding:7px 10px 5px 0;
  margin-bottom:1px;
  text-align:right;
  float:right;
}
#TB_ajaxWindowTitle{
  float:left;
  padding:7px 0 5px 10px;
  margin-bottom:1px;
}
#TB_title{
  background-color:#e8e8e8;
  height:27px;
}
#TB_ajaxContent{
  clear:both;
  padding:2px 15px 15px 15px;
  overflow:auto;
  text-align:left;
  line-height:1.4em;
}
#TB_ajaxContent.TB_modal{
  padding:15px;
}
#TB_ajaxContent p{
  padding:5px 0px 5px 0px;
}
#TB_load{
  position: fixed;
  display:none;
  height:13px;
  width:208px;
  z-index:103;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}
* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}
#TB_HideSelect{
  z-index:99;
  position:fixed;
  top: 0;
  left: 0;
  background-color:#fff;
  border:none;
  filter:alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  height:100%;
  width:100%;
}
* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
#TB_iframeContent{
  clear:both;
  border:none;
  margin-bottom:-1px;
  margin-top:1px;
  _margin-bottom:1px;
  height:570px !important;
  width:670px !important;
}

#rbIconButtonIcon .icon {
	background-image:url(../../images/iconSprites2.png);
}
/* Icons Sprite Definition */
.icon {
	display:block;
	width:37px;
	height:32px;
	text-indent:-9999px;
	background:url(../../images/iconSprites.png) no-repeat 0 0 transparent;
}
.icon.audio {
	background-position:0 0;
}
.icon.mail {
	background-position:-37px 0;
}
.icon.shirt {
	background-position:-74px 0;
}
.icon.run {
	background-position:-111px 0;
}
.icon.tag {
	background-position:-148px 0;
}
.icon.cup {
	background-position:-185px 0;
}
.icon.lab {
	background-position:0 -32px;
}
.icon.cloud {
	background-position:-37px -32px;
}
.icon.loupe {
	background-position:-74px -32px;
}
.icon.info {
	background-position:-111px -32px;
}
.icon.brush {
	background-position:-148px -32px;
}
.icon.umbrella {
	background-position:-185px -32px;
}
.icon.flag {
	background-position:0 -64px;
}
.icon.link {
	background-position:-37px -64px;
}
.icon.book {
	background-position:-74px -64px;
}
.icon.help {
	background-position:-111px -64px;
}
.icon.rss {
	background-position:-148px -64px;
}
.icon.folder {
	background-position:-185px -64px;
}
.icon.attention {
	background-position:0 -96px;
}
.icon.bell {
	background-position:-37px -96px;
}
.icon.note {
	background-position:-74px -96px;
}
.icon.globe {
	background-position:-111px -96px;
}
.icon.clock {
	background-position:-148px -96px;
}
.icon.photo {
	background-position:-185px -96px;
}
.icon.eye {
	background-position:0 -128px;
}
.icon.bulb {
	background-position:-37px -128px;
}
.icon.key {
	background-position:-74px -128px;
}
.icon.plane {
	background-position:-111px -128px;
}
.icon.car {
	background-position:-148px -128px;
}
.icon.settings {
	background-position:-185px -128px;
}
.icon.phone {
	background-position:0 -160px;
}
.icon.map {
	background-position:-37px -160px;
}
.icon.bubble {
	background-position:-74px -160px;
}
.icon.people {
	background-position:-111px -160px;
}
.icon.video {
	background-position:-148px -160px;
}
.icon.case {
	background-position:-185px -160px;
}

.iconList li {
	float:left;  
	background: #FFFFFF;
    border-radius: 3px;
    float: left;
    margin-right: 5px;
    padding: 5px;
	border:1px solid #EEE;
	cursor:pointer;
	position:relative;
}
.iconList {
	margin:30px 0 0 13px;
}
.iconList li:hover, .iconList li.selected {
	background:#EEE;
}

#rbIconBlockCustomIcon,  #rbIconButtonCustomIcon{
    border: 1px solid #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    height: 32px;
    position: absolute;
    right: -49px;
    top: -1px;
    width: 37px;
	overflow:hidden;
}